################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IngestionProject/dwbiTest/dwbiTest/obj
/.vs
/ETLApp/.vs/ETLApp
/ETLApp/.vs
/VirtualizationService/.vs/VirtualizationService
/VirtualizationService/VirtualizationService/bin/Debug/net8.0
/VirtualizationService/VirtualizationService/obj
